/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Oswald:wght@200;400;500&family=Poppins:ital,wght@0,300;0,400;1,500&family=Roboto:ital,wght@0,300;0,400;1,500&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
/* slider img */
.carousel-img-1{
    background-image: linear-gradient(#00000091,#00000091,#00000091,#00000091),url(./assets/images/cover/cover-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100vh;
}
.carousel-img-2{
    background-image: linear-gradient(#00000091,#00000091,#00000091,#00000091),url(./assets/images/cover/cover-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100vh;
}
.carousel-img-3{
    background-image: linear-gradient(#00000091,#00000091,#00000091,#00000091),url(./assets/images/cover/cover-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100vh;
}
/* course card */
@media screen and (max-width:576px) {
    .thumbnail{
        width:100%;
    }
    .thumbnail img{
        width: 98%;
    }
}
@media screen and (max-width:576px){
    .hide-card{
        display: none;
    }
}
/* elearning section custom css */
.bg-box{
    background:#f4fafd;
}
/* ready to join section custom css */
.join-bg{
    background-color: #0d6efd;
}
.join-inner > p{
    font-size: 12px;
}
.join-btn{
    background-color: #f4fafd;
    color: #0d6efd;
}
.join-btn:hover{
    background-color: #f4fafd;
    color: #0d6efd;
}
@media screen and (max-width:576px){
    .join-inner{
        text-align: center;
    }
}
